<div>
  <div class="my-6 lg:flex lg:items-center lg:justify-between">
    <div class="flex-1 min-w-0">
      <h1 class="text-4xl font-semibold">Browse all chirps</h1>
      <p class="text-l text-indigo-600">Or use the search bar to narrow it down some</p>
    </div>
    <div class="mt-5 flex lg:mt-0 lg:ml-4">
      <%= form_tag chirps_path, method: :get do %>
        <%= text_field_tag :search_term, params[:search_term], class: "px-4 bg-white text-gray-800 border border-gray-300 rounded-md" %>
        <%= submit_tag "Submit", class: "inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-gray-800 active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out cursor-pointer", name: nil %>
      <% end %>
    </div>
  </div>
  
  <% @chirps.each do |chirp| %>
    <%= render partial: "chirp_display", locals: { chirp: chirp } %>
  <% end %>
</div>

<%= will_paginate @chirps, renderer: @will_paginate_renderer %>